<style media="screen">
  root{
  }
  *{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background-color: #19455b;
  }
  .Menu_container{
    background-color: #19455b;
    margin: 50px;
    color: #b2b1b1;
    cursor: pointer;
    display: inline-flex;
    list-style: none;
  }
  #logo{
     margin-right: 48px;
  }
  .List_Contents{
    color: #b2b1b1;
    margin: 50px;
  }
  #Home{
    margin: 50px 0px 0px 0px;
  }
  a{
    position: absolute;
    color: #fff;
    text-decoration: none;
    min-width: 650px;
    max-height: 100%;
    text-align: right
  }

  .Heading{
    color:white;
    font-size: 43px;
    width: 400px;
    position: relative;
    margin-left: 40px;
    background-color: rgba(255, 255, 255, 0);
  }
  .paragraph{
    width: 600px;
    height: 25px;
  }

  .Text{
    font-size: 15px;
    color: #919191;
    margin: 50px 0px 30px 50px;
  }

/*top, right, left, bottom*/
  .mainpicture{;
    margin: 10px 300px 0px 0px;
    padding: 0px 100px 0px 0px;
  }

</style>
